div.cardWrapper {
    width: 350px;
    height: 450px;
    margin: auto;
    background: black;
    position: relative;
    overflow: hidden;
}

div.cardHeader {
    padding: 16px;
    display: flex;
    background: #424242;
}
div.headerPic {
    width:35px;
    height:35px;
    background: yellow;
    border-radius: 100px;
    margin-right: 16px;
}
div.menu{
    width: 35px;
    height:35px;
}
div.headerContents {
    display: block;
    margin-right: 90px;
}
div.cardPic{
    width: 350px;
    height: 210px;
    background-image: url(./static/pizza.jpg);
    background-size: cover;
}


div.cardContent {
    height: 80px;
    padding: 16px;
    background-color: #424242;}

div.cardFooter {
    display: flex;
    width: 350px;
    height: 60px;
    background: #424242;
}

div.menuSet{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
  }

div.likeIcon{
    width:30px;
    height: 30px;
    margin: 16px;
    background-image: url(./static/like.png);
    background-size: contain;
}
div.shareIcon{
    width:30px;
    height: 30px;
    background-image: url(./static/share.png);
    background-size: contain;
    margin: 16px;
}

div.downIcon{
    width:30px;
    height: 30px;
    background-image: url(./static/down.png);
    background-size: contain;
    margin: 16px;
    margin-left: auto;
}